__pycache__/
.vscode
.venv/

outputs/
temp.py

# assets/

temp_gpt2.py    

smoothquart.py


checkpoints/*
!checkpoints/whisperx/
checkpoints/whisperx/*
!checkpoints/whisperx/hy-mt/
checkpoints/whisperx/hy-mt/*
!checkpoints/whisperx/hy-mt/.gitkeep

output.wav
