vllm
# accelerate==0.25.0
# transformers==4.36.2
cn2an
ffmpeg-python
Cython
g2p-en
jieba
keras
matplotlib
vocos
# tensorboard==2.9.1
omegaconf
sentencepiece
librosa
gradio
ninja

WeTextProcessing; platform_machine != "Darwin"
wetext; platform_system == "Darwin"